@charset "UTF-8";

label.error {   /*pinta um label*/
	color: red;
}

input.error {  /*pinta um input*/
	border: 2px solid red;
}

select.error {  /*pinta um select*/
	border: 2px solid red;
}

textarea.error {  /*pinta um textarea*/
	border: 2px solid red;
}

/* Estilo para a mensagem de erro */
.erro  {
	color: red !important;
	font-weight: bold !important;
}

/* Estilo para a mensagem de sucesso */
.sucesso {
	color: blue !important;
	font-weight: bold !important;
}

.positivo {
    color: #006400 !important;
    font-weight: bold;
    background-color: #90EE90 !important;
}

.negativo {
    color: #ff0000 !important;
    font-weight: bold;
    background-color: #ef7771 !important;
    
}